# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


#Whitelist
!README.md
!CONTRIBUTING.md
!LICENSE
!.gitignore
!.github/**
!build.zig

!**/*.zig


# Blacklist (overrides Whitelist)
build/*
zig-cache/*
